<template>
  <div id="article-single" class="py-4">
    <scroll-progress target=".article-single" />
    <bread-crumb
      :crumbs="getCrumbs()"
      @select="(path) => $router.push({ path })"
    />
    <p v-if="$fetchState.pending" class="text-dark dark:text-light text-6xl"><Icon icon="eos-icons:three-dots-loading"/></p>
    <article
      v-else
      class="article-single relative bg-light dark:bg-dark rounded-lg overflow-hidden shadow-md lg:w-5/6"
    >
      <img
        v-if="articleThumbnail"
        :src="articleThumbnail.url"
        :alt="articleThumbnail.alt"
        class="max-h-96 w-full object-cover"
      />
      <button class="absolute top-8 right-8 px-2 py-1 bg-light dark:bg-dark text-dark dark:text-light rounded-lg shadow-lg inline-flex items-center gap-2" @click="addClaps">
        <Icon icon="ph:hands-clapping-light" class="text-3xl"/>
        <span>{{ totalClaps }}</span>
      </button>
      <div class="p-4">
        <h3 class="font-semibold text-xl text-dark dark:text-light mb-4">
          {{ article.title }}
        </h3>
        <div
          v-if="content"
          class="article-content text-dark dark:text-light"
          v-html="content"
        ></div>
      </div>
    </article>
    <div class="flex-grow inline-flex items-center gap-2 my-4">
      <Icon
        icon="material-symbols:share-sharp"
        :inline="true"
        class="text-2xl text-accent"
      />
      <ShareNetwork
        v-for="network in shareNetworks"
        :id="`social-${network.name}`"
        :key="network.name"
        :network="network.name"
        :title="$metaInfo.title"
        :description="$metaInfo.description"
        url="/"
        class="social-share"
      >
        <Icon
          :icon="network.icon"
          :inline="true"
          :style="{ color: network.color }"
        />
      </ShareNetwork>
    </div>
  </div>
</template>

<script>
import { Icon } from '@iconify/vue2'
import debounce from 'lodash/debounce'
import { flattenCollection } from '~/utils'

export default {
  name: 'SingleArticle',
  components: { Icon },
  data() {
    return {
      article: {},
      content: '',
      shareNetworks: [
        { name: 'facebook', icon: 'ri:facebook-fill', color: '#4267B2' },
        { name: 'linkedin', icon: 'ri:linkedin-fill', color: '#0077b5' },
        { name: 'twitter', icon: 'fe:twitter', color: '#00acee' },
      ],
    }
  },

  async fetch() {
    const article = await this.$api.articles.getBySlug(this.$route.params.slug)
    this.article = flattenCollection(article, true)[0]
    this.content = this.$md.render(this.article.content)
  },

  head() {
    const seo = this.article?.seo?.[0]
    return {
      title: this.article.title,
      description: seo?.metaDescription?.trim(),
      meta: ['', 'og:', 'twitter:'].reduce((result, current) => {
        result.push(
          {
            hid: `${current}title`,
            name: `${current}title`,
            content: seo?.metaTitle,
          },
          {
            hid: `${current}description`,
            name: `${current}description`,
            content: seo?.metaDescription?.trim(),
          },
          {
            hid: `${current}image`,
            name: `${current}image`,
            content: seo?.metaImage?.data?.attributes?.url,
          }
        )
        return result
      }, []),
    }
  },

  computed: {
    articleThumbnail() {
      if (this.article.image?.length)
        return {
          url: process.env.NUXT_ENV_BACKEND_URL + this.article.image[0].url,
          alt: this.article.image[0].alternativeText,
        }
      return null
    },
    totalClaps() {
      return this.article.clap || 0;
    }
  },

  watch: {
    totalClaps: debounce(function (val) {
      this.$api.articles.update(this.article.id, {data : { clap: val }})
    }, 500)
  },

  methods: {
    // TODO: move to a mixin
    getCrumbs() {
      return this.$route.path
        .split('/')
        .map((path) => ({ title: path || 'Home', value: `/${path}` }))
    },
    addClaps() {
      this.article.clap = this.totalClaps + 1;
    }
  }
}
</script>

<style>
.social-share {
  @apply inline-flex items-center justify-center w-10 h-10 rounded-full bg-light dark:bg-dark shadow-lg;
}
</style>
