<template>
  <div class="container w-full lg:w-8/12 py-6">
    <bread-crumb
      :crumbs="getCrumbs()"
      @select="(path) => $router.push({ path })"
    />
    <article-list />
  </div>
</template>

<script>
export default {
  name: 'Articles',
  methods: {
    // TODO: move to a mixin
    getCrumbs() {
      return this.$route.path
        .split('/')
        .map((path) => ({ title: path || 'Home', value: `/${path}` }))
    },
  },
}
</script>
