<template>
  <header class="flex flex-wrap justify-between items-center py-6">
    <nuxt-link to="/" class="font-cursive text-2xl text-dark dark:text-light">Serious.Dev</nuxt-link>

    <ul class="flex items-center gap-3">
      <li
        class="inline-flex justify-center items-center w-8 h-8 rounded-full bg-light dark:bg-dark text-dark dark:text-light text-lg shadow-lg cursor-pointer"
        @click="toggleDarkTheme"
      >
        <Icon v-if="isDarkTheme" icon="carbon:sun" />
        <Icon v-else icon="akar-icons:moon-fill" />
      </li>
    </ul>
  </header>
</template>

<script>
import { Icon } from '@iconify/vue2'

export default {
  name: 'AppHeader',
  components: { Icon },
  data() {
    return {
      isDarkTheme: false,
    }
  },
  mounted() {
    this.isDarkTheme = localStorage.seriousTheme === 'dark'
  },
  methods: {
    toggleDarkTheme() {
      if ('seriousTheme' in localStorage)
        localStorage.removeItem('seriousTheme')
      else localStorage.setItem('seriousTheme', 'dark')
      this.isDarkTheme = localStorage.seriousTheme === 'dark'
      this.$emit('toggleTheme', this.isDarkTheme ? 'dark' : '')
    },
  },
}
</script>
