<template>
  <div class="md:flex mb-6 rounded-2xl overflow-hidden shadow-md">
    <img
      v-if="articleThumbnail"
      :src="articleThumbnail"
      alt=""
      class="w-full md:w-2/6 h-52 object-top object-cover"
    />
    <div class="w-full md:w-4/6 p-4 bg-light dark:bg-dark">
      <h2
        class="
          text-lg text-dark
          dark:text-light
          font-semibold
          mb-1
          cursor-pointer
        "
        @click="goToArticle"
      >
        {{ article.title }}
      </h2>
      <ul class="flex flex-wrap gap-4 list-disc list-inside">
        <li class="text-dark dark:text-light opacity-50">
          {{ articleTimestamp }}
        </li>
      </ul>
      <p
        class="
          text-md text-dark
          dark:text-light
          font-light
          my-3
          truncate-multiline
          whitespace-pre-line
        "
      >
        {{ article.content }}
      </p>
    </div>
  </div>
</template>

<script>
import * as dayjs from 'dayjs'

export default {
  name: 'ArticleItem',
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
  computed: {
    articleThumbnail() {
      if (this.article.image?.length)
        return this.article.image[0].url
      return null
    },
    articleTimestamp() {
      return dayjs(this.article.publishedAt).format('DD-MMM-YYYY')
    },
  },
  methods: {
    goToArticle() {
      this.$router.push({
        path: `/articles/${this.article.slug}`
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
</style>
