<template>
  <div>
    <p v-if="$fetchState.pending" class="text-dark dark:text-light text-6xl"><Icon icon="eos-icons:three-dots-loading"/></p>
    <div v-else>
      <article-item
        v-for="article in articles"
        :key="article.id"
        :article="article"
      />
    </div>
    <pagination :pagination="pagination" @select="loadArticles"></pagination>
  </div>
</template>

<script>
import { Icon } from '@iconify/vue2';
import { flattenCollection } from '~/utils';

export default {
  name: 'ArticleList',
  components: {Icon},
  data() {
    return {
      articles: [],
      pagination: {},
    }
  },
  async fetch() {
    const articles = await this.$api.articles.get(
      'pagination[page]=1&&pagination[pageSize]=4'
    );
    this.pagination = articles.meta.pagination
    this.articles = flattenCollection(articles.data, true);
  },
  methods: {
    async loadArticles(page) {
      const articles = await this.$api.articles.get(
        `pagination[page]=${page}&&pagination[pageSize]=4`
      )
      this.articles = flattenCollection(articles.data, true)
    },
  },
}
</script>
