<template>
  <ul class="inline-flex items-stretch rounded-lg shadow-md overflow-hidden my-3">
    <li
      v-for="(crumb, idx) in crumbs"
      :key="crumb.text"
      class="px-4 py-2 cursor-pointer bg-light dark:bg-dark border-gray-200 dark:border-gray-600 text-sm font-light capitalize"
      :class="[
        idx === crumbs.length - 1
          ? 'pointer-events-none text-dark dark:text-light'
          : 'text-accent border-r',
      ]"
      @click="$emit('select', crumb.value)"
    >
      {{ crumb.title }}
    </li>
  </ul>
</template>

<script>
export default {
  name: 'BreadCrumb',
  props: {
    crumbs: {
      type: Array,
      required: true,
    },
  },
}
</script>
