<template>
  <ul class="flex items-center justify-center gap-4 my-6">
    <li
      v-for="page in pages"
      :key="page"
      class="hover:shadow-lg cursor-pointer w-8 h-8 rounded-full inline-flex items-center justify-center"
      :class="[
        page === activePage
          ? 'bg-accent text-white'
          : 'bg-light dark:bg-dark text-dark dark:text-light',
      ]"
      @click="selectPage(page)"
    >
      {{ page }}
    </li>
  </ul>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    pagination: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      activePage: 1,
    }
  },
  computed: {
    pages() {
      if (this.pagination?.pageCount)
        return Array(this.pagination.pageCount)
          .fill()
          .map((_, i) => i + 1)
      return []
    },
  },
  methods: {
    selectPage(pageNumber) {
      this.activePage = pageNumber
      this.$emit('select', pageNumber)
    },
  },
}
</script>
