<template>
  <div
    class="
      scroll-progress
      fixed
      top-0
      w-full
      h-2
      bg-accent
      transition-transform
      transform-gpu
      -left-full
      z-50
    "
    :style="{ transform: `translateX(${progress}%)` }"
  ></div>
</template>

<script>
import throttle from "lodash/throttle";

export default {
    name: 'ScrollProgress',
    props: {
        target: {
            type: [String, Function],
            required: true
        }
    },
    data() {
        return {
            progress: 0,
            targetElement: null
        }
    },
    mounted() {
        if (typeof this.target === 'function') {
            this.targetElement = this.target();
        } else {
            this.targetElement = document.querySelector(this.target)
        }
        window.removeEventListener('scroll', this.updateScrollProgress);
        window.addEventListener('scroll', this.updateScrollProgress);
    },
    methods: {
        updateScrollProgress: throttle(function() {
            if (this.targetElement) {
                // Get the relevant measurements and positions
                const viewportHeight = window.innerHeight;
                const scrollTop = window.scrollY;
                const elementOffsetTop = this.targetElement.offsetTop;
                const elementHeight = this.targetElement.offsetHeight;

                // Calculate percentage of the element that's been seen
                const pastViewportTop = scrollTop - elementOffsetTop;
                const distance = pastViewportTop > 0 ? (pastViewportTop + viewportHeight) : 0;
                const percentage = Math.round((distance / elementHeight) * 100);

                // Restrict the range to between 0 and 100
                this.progress = Math.min(100, Math.max(0, percentage));
            }
        }, 250, {trailing: true, leading: true})
    }
}
</script>