<template>
  <div id="app-wrapper" :class="[themeClass]">
    <div id="app" class="bg-gray-100 dark:bg-gray-800 min-h-screen">
      <div class="container px-4 lg:px-0 mx-auto">
        <app-header @toggleTheme="theme => themeClass = theme"/>
        <Nuxt />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      themeClass: ''
    }
  },
  mounted() {
    if (localStorage.seriousTheme === 'dark' || (!('seriousTheme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      this.themeClass = 'dark';
    }
  }
}
</script>