<template>
  <div id="home" class="home">
    <p class="text-dark dark:text-light mb-4">
      Hey there, welcome to Serious Dev. <br />
      We intend to get a little bit serious here with our profession, ethics and life in general ! <br />
      This place is for sharing programming tips and thoughts. <br>
      But sometimes we'll talk about psychology and philosophy to add some flavour &#128514;
    </p>
    <client-only>
      <ul class="flex gap-2">
        <li>
          <a href="https://thekhairul.github.io/" target="_blank" title="portfolio" class="btn-icon-round"
            ><Icon icon="dashicons:portfolio" :inline="true"
          /></a>
        </li>
        <li>
          <a href="https://github.com/thekhairul" target="_blank" title="github" class="btn-icon-round"
            ><Icon icon="iconoir:github" :inline="true"
          /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/khairulanik/" target="_blank" title="linkedin" class="btn-icon-round"
            ><Icon icon="ant-design:linkedin-outlined" :inline="true"
          /></a>
        </li>
      </ul>
    </client-only>

    <div class="flex flex-wrap lg:flex-nowrap gap-4 mt-6">
      <div class="w-full lg:w-8/12">
        <article-list />
      </div>

      <div class="w-ful lg:w-4/12"></div>
    </div>
  </div>
</template>

<script>
import { Icon } from '@iconify/vue2';

export default {
  components: { Icon },
}
</script>

<style>
.btn-icon-round {
  @apply inline-flex justify-center items-center w-10 h-10 bg-light dark:bg-dark hover:bg-accent dark:hover:bg-accent shadow-md rounded-full text-2xl text-dark dark:text-light hover:text-light;
}
</style>